    * {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
 }
 body {
    background-color: white
 }
 .container {
    width:80%;
    margin:auto;
   
 }

 .navibar {
    padding:20px 0px 20px 0px;
    justify-content:space-between;
    align-items:center;
    display:flex;
    align-item:center;
    justify-content:space-between;
   
}

 .menu ul {
   color:gray;
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 10px;
   

 }

 .menu ul li a{
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
     color:#687279;
   
 }
 .say:hover {
    color: orange;o
 }
 

 .kursur ul {
    list-style-type: none;
    background-color: orange;

 }

 .kursur ul li a {
    text-decoration: none;
 }

 .text ul li  {
   list-style-type: none;
   

   
 }



.text h3 {
   color: #f1a204;
}
 
 
 .hero {
    display: flex;


 }

.kotak a {
   background-color:rgb(245, 143, 0) ;
   border: radius 5px;
   padding: 10px;
   
}

.kotak a.putih {
   color: rgb(255, 255, 255);
}

.kotak a:hover {
background-color:rgb(21, 21, 80);
color: white;
}

li a{
   background-color: #ffffff;
}

.proggram {
   border: 2px solid #000000;
   padding:10px 20px;
   border-radius:8px;
   color:#0C084C;
   font-weight:600;
   
}
.proggram:hover {
   background-color: #0C084C;
   color:white;
   transition: all 0.4s ease-in-out;
}

.daftar {
   border: 2px solid #f1a204;
   padding:10px 20px ;
   border-radius:8px;
   color:white;
   font-weight:600;
   background-color: #f1a204;
   margin
}

.daftar:hover {
 background-color: #0c084c;
   color:white;
   transition: all 0.4s ease-in-out;

}


.Foto {
   display: flex;
   gap: 50px;
   justify-content:center;
   height:auto;
   align-items:center;
   margin-top:20px;

}


.anjay {
   font-size: medium;
   color: #0C084C;
}

.container_portofolio{
    max-width: 1200px;
    margin:auto;

}

.title {
    text-align: center;
    font-size: 30px;
    color: #0C084C;
    margin-bottom: 40px;
    font-weight: 700;
}

.filter-buttons {
    text-align: center;
    margin-bottom:30px;
}

.filet-btn {
    border:1px solid    #ddd;
    background-color:none;
    color: #555;
    padding:10px 20px;
    border-radius:8px;
    margin:5px;
    cursor:pointer;
    transition: all 0.4s ease-in-out;
   font-weight: 500;
}

.filet-btn.active,
.filet-btn:hover {
    background-color: #ff6b00;
    color: #fff;
    border-color: #ff6b00;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.image {
    width: 30%;
    border-radius:12px;
    overflow: hidden;

    transform:scale(1);
    transition: all 0.4s ease-in-out;
    background-color: #0C084C;
}
.image img {
    width: 100%;
    height: 100%;
}

.image:hover {
    transform:scale(1.1);
}

.cont {
    display: flex;
    justify-content: center;
}

.RPL {
    background-color:white;
    padding:15px;
    margin:20px;
    border-radius:20px;
}

.RPL .judul{
    background-color:  #f1a204;
    color: white;
    text-align:center;
    border-radius: 10px;
    padding:8px   
}
.RPL:hover {
    box-shadow: 0 4px 8px rgba(224, 101, 101, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s  ease;
}
.RPL .silabus1{
    background-color: #0c084c;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}



.TKJ {
   background-color:rgb(244, 244, 244);
    padding:15px;
    margin:20px;
  border-radius:20px;
}
.TKJ:hover {
    box-shadow: 0 4px 8px rgba(224, 101, 101, 0.1);
    transform: translateY(-5px);
     transition: all 0.4s ease-in-out;
}

    .TKJ .silabus2{
    background-color: #0c084c;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}

.TKJ .judul {
    background-color:#f1a204;
    color: white;
    text-align:center;
    border-radius: 10px;
    padding:8px 
    
}






.DKV {
    background-color:#f2f5f7;
    padding:15px;
    margin:20px;
   border-radius:20px;
  
}
.DKV:hover {
    box-shadow: 0 4px 8px rgba(224, 101, 101, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.DKV .silabus3{
    background-color: #0c084c;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    
}
.DKV .judul {
    background-color: #f1a204;
    color: white;
    text-align:center;
    border-radius: 10px;
    padding:8px 
}

.video {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
   overflow:100px;
   overflow: hidden; 
   border-radius: 12px; 
   box-shadow: 0 6px 18px rgba(0,0,0,0.15);
   margin: 70px;
}

.video1 {
   text-align: center;
   font-size: 24px;
   color: #0C084C;
   font-weight: 700;
   margin-bottom: 40px;
   
}
.sui {
    display: flex;

    
}

h1 {
   text-align: center;
   font-size: 43px;
   color: #0C084C;
   font-weight: 700;
   margin-bottom: 40px;
   margin-top:50px;
   
}
.small-font{
    font-weight: 300;
}

.paragraf {
    font-weight: 300;
    font-size: 14px
}

.lihat2 {
   border: 2px solid #000000;
   padding:10px 10px;
   border-radius:8px;
   color:#ffffff;
   font-weight:500;
   background-color: #0C084C;
   
}
.lihat2:hover {
   background-color: #0C084C;
   color:white;
   transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 330px) {
        .navibar {
            display: flex;
            flex-direction: column;
        }
        
        .menu ul { 
            flex-direction: column;
            display: flex;
            flex-direction: column;
            }
            
        .sui {
            display: flex;
            flex-direction: column;
            }

            

            
        }

